# {内部数据库账号}
POSTGRES_USER=postgres
# {内部数据库密码}
POSTGRES_PASSWORD=123456
# ${git仓库admin账号}
GITEA_ADMIN_USERNAME=gitea
# ${git仓库admin密码}
GITEA_ADMIN_PASSWORD=123456
# ${wp-monitor地址}
WP_MONITOR_URL=https://monitor.alpha.warpparse.ai
# ${AI代理地址(如果不使用AI代理可不填)}
STATION_AI_BASE_URL=http://assist:8888
